@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$theme-color: #46C28E;
$back-color: #222222;
$active: #FFD700;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: #fff;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

#header {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #222222;
    z-index: 2;
    box-sizing: border-box;
    padding: 0 32px;

    @media (min-width:992px) {
        height: 50px; 
    }

}

#wrapper {
    display: flex;
    flex-direction: column;

    @media(min-width:992px) {
        flex-direction: row;
    }
}

iframe {
    border: 0;
}

.content {
    box-sizing: border-box;
    padding: 32px;
}

.section-videoPlayer {
    position: relative;
    width: 100%;
    display: block;
    transition: display 2s ease-in;

    @media(min-width:992px) {
        flex: 1;
    }

    #player {
        position: relative;
        width: 100%;
    }
}

.section-viewDocument {
    position: relative;
    transition: display 2s ease-in;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width:992px) {
        flex: 1;
        display: block;
    }

    #document {
        position: relative;
        width: 100%;
    }

    .solved-task {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            color: $theme-color;
            font-size: 3rem;
        }

        .btn {
            border-color: #f2f2f2;
            color: #f2f2f2;
        }

        @media(min-width:992px) {
            display: none;
        }
    }

    .content {
        display: none;
        height: auto;
        padding: 32px 16px;

        @media(min-width:992px) {
            display: block;
            padding: 0;
        }
    }
}

.section-task {
    position: relative;
    display: block;
    transition: display 2s ease-in;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: position .4s ease-in;

    @media(min-width: 992px) {
        display: block;
        flex: 1;
    }

    .header {
        background-color: rgba(#000, .2);
        box-sizing: border-box;
        padding: 16px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        @media(min-width:992px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .line {
            border-bottom: 2px solid rgba($theme-color, .6);
            width: 50%;
            height: 1px;
        }

        i {
            font-size: 3rem;
            margin: 0 15px;
            color: $theme-color;

            @media(min-width:992px) {
                font-size: 4rem;
            }
        }

    }

    .content {
        display: none;

        @media(min-width:992px) {
            display: block;
        }

    }

    .solved-task {
        display: block;

        @media(min-width:992px) {
            display: none;
        }
    }
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    cursor: pointer;
    visibility: hidden;
    font-size: .8rem;
    outline: none;
}

.page-float {
    position: fixed;
    width: 100% !important;
    height: calc(100vh - 80px) !important;
    overflow: auto;
    top: 4px;
    left: 0;
    z-index: 99;
    background-color: $back-color;

    .solved-task {
        display: none
    }

    .content {
        display: block;
    }

    .close {
        visibility: visible;
    }
}

.hide {
    display: none !important;
    transition: display .5s ease-out;
}

#sidebar {
    position: relative;
    min-width: 300px;
    width: 100%;
    height: calc(60vh - 50px);
    overflow: auto;
    background-color: $back-color;
    color: #f2f2f2;

    .section {
        background-color: $back-color;
        display: block;
        width: 100%;

        .header {
            background-color: #363636;
            box-sizing: border-box;
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: row;

            .collapse-section {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 15px;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;

                i {
                    cursor: pointer;
                }

                .fa-rotate-180 {
                    transition: all .2s ease-in-out;
                }

            }
        }

        .number {
            position: relative;
            background-color: $back-color;
            display: inline-block;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            margin-right: 16px;

            &:before {
                align-items: center;
                background-color: #222222;
                color: #F2F2F2;
                border-radius: 50%;
                content: attr(data-number);
                display: flex;
                font-size: 1rem;
                justify-content: center;
                position: absolute;
                left: .2rem;
                right: .2rem;
                top: .2rem;
                bottom: .2rem;
                transition: transform 0.2s ease;
            }

            &:after {
                background-color: $theme-color;
                border-radius: 50%;
                content: '';
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }

        .description {
            display: block;
            color: #f2f2f2;
            font-weight: 500;
            font-size: 1.2rem;
            display: flex;
            flex: 1;
            flex-direction: column;
            text-transform: capitalize;
            word-wrap: break-word;
        }

        .time {
            display: block;
        }

        .content-sections {
            transition: height 2s ease-in;
            height: auto;
            max-height: auto;
        }

        .hide-section {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.5s ease-out;
        }

        .content {
            background-color: $back-color;
            box-sizing: border-box;
            padding: 16px;
            font-size: 1rem;
            color: rgba(#f2f2f2, 0.6);
            border-bottom: 1px solid rgba(#747474, 0.1);
            position: relative;

            i {
                font-size: 1.2rem;
                width: 1.2rem;
                margin-right: 10px;
                color: rgba(#f2f2f2, 0.5);
            }

            &-description {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                flex: 1;
                color: rgba(#f2f2f2, 0.6);

                a {
                    text-decoration: none;
                    color: rgba(#f2f2f2, 0.6);
                }
            }

            &-time {
                width: 43px;
                margin-left: 8px;
                text-align: right;
            }

            &-resource {
                display: flex;
                justify-content: flex-end;
                position: relative;

                .popup {
                    opacity: 0;
                    position: absolute;
                    box-sizing: border-box;
                    top: 120%;
                    background: #262626;
                    border: 1px solid #f2f2f2;
                    height: auto;
                    overflow: hidden;
                    transition: all 500ms;
                    width: 60%;
                    z-index: 3;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            font-size: 0.8rem;
                            padding: 4px;
                            display: flex;
                            align-items: center;

                            i {
                                font-size: 0.8rem;
                                margin-right: 0px;
                                color: $theme-color !important;
                            }

                            a {
                                text-decoration: none;
                                color: #f2f2f2 !important;
                            }

                            &:hover {
                                background-color: #363636;
                            }

                        }
                    }
                }

                .pupup-active {
                    opacity: 1;
                }
            }

            &:hover {
                background-color: #363636;
                color: rgba(#f2f2f2, 1);

                a {

                    color: rgba(#f2f2f2, 1);
                }
            }


        }

        .active {
            position: relative;
            color: rgba($active, 1) !important;

            i {
                color: $active !important;
            }

            a {
                color: rgba($active, 1) !important;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 4px;
                background-color: $active;
                top: 0;
                left: 0;
                height: 100%;
            }
        }

        .complete {
            color: rgba(#f2f2f2, 1);

            i {
                color: $theme-color
            }

            a {
                color: rgba(#f2f2f2, 1);
            }

        }
    }

    @media(min-width:992px) {
        max-width: 400px;
        height: calc(100vh - 64px);
    }
}

.drop-file {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #fileInput {
        visibility: hidden;
    }

    #fileLabel {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 2px dashed rgba(#f2f2f2, .6);
        box-sizing: border-box;
        padding: 32px;
        cursor: pointer;
        transition: all .4s ease-in;
        z-index: 1;
    }

    .file-hover {
        border: 2px dashed rgba($theme-color, 1) !important;
        color: rgba($theme-color, 1) !important;
    }

    #btnUpload {
        flex: 1 auto;
        width: 150px;

    }

    .card-file {
        border: 1px solid rgba(#f2f2f2, .6);
        color: rgba(#f2f2f2, .6);
        padding: 15px;
        display: flex;
        align-items: center;
        margin: 10px 0;
        z-index: 9;

        .name {
            flex: 1;
        }

        .button {
            font-size: 1rem;
            color: rgba($theme-color, .5);
            cursor: pointer;
            margin-left: 10px;
            padding: 3px;
        }
    }
}

// Buttons
.btn {
    cursor: pointer;
    padding: 8px;
    background-color: transparent;
    border: 1px solid rgba(#f2f2f2, .6);
    color: rgba(#f2f2f2, .6);
    outline: transparent;

    &:hover {
        border: 1px solid rgba(#f2f2f2, 1);
        color: rgba(#f2f2f2, 1);
    }

}

.btn-icon {
    border: 0;
    color: $theme-color;
    padding: 0;

    &:hover {
        color: rgba($theme-color, 1) !important;
        border: 0;
    }

}

.btn-lg {
    width: 100%;
}

.btn-sm {
    width: auto;
}


$step:1;
$loops :round(100 / $step);
$increment: 360 / $loops;
$half :round($loops / 2);
$next-deg: 0;

@for $i from 0 through $loops {
    .section {
        .number[data-progress="#{$i * $step}"]:after {

            @if $i < $half {
                $next-deg: 90deg + $increment * $i;
                background-image: linear-gradient(90deg, $back-color 50%, transparent 50%, transparent), linear-gradient($next-deg, $theme-color 50%, $back-color 50%, $back-color)
            }

            @else {
                $next-deg: -90deg + $increment * ($i - $half);
                background-image: linear-gradient($next-deg, $theme-color 50%, transparent 50%, transparent), linear-gradient(270deg, $theme-color 50%, $back-color 50%, $back-color)
            }
        }
    }

}

.text-right {
    text-align: right;
}

small {
    font-size: .8rem;
}



// margin
.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 15px;
}

.mt-3 {
    margin-top: 20px;
}

.mt-4 {
    margin-top: 25px;
}

.mt-5 {
    margin-top: 30px;
}

.mb-0 {
    margin-top: 0px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 20px;
}

.mb-4 {
    margin-bottom: 25px;
}

.mb-5 {
    margin-bottom: 30px;
}

// flexbox

.d-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}