@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #fff;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

#header {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background-color: #222222;
  z-index: 2;
  box-sizing: border-box;
  padding: 0 32px; }
  @media (min-width: 992px) {
    #header {
      height: 50px; } }

#wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 992px) {
    #wrapper {
      flex-direction: row; } }

iframe {
  border: 0; }

.content {
  box-sizing: border-box;
  padding: 32px; }

.section-videoPlayer {
  position: relative;
  width: 100%;
  display: block;
  transition: display 2s ease-in; }
  @media (min-width: 992px) {
    .section-videoPlayer {
      flex: 1; } }
  .section-videoPlayer #player {
    position: relative;
    width: 100%; }

.section-viewDocument {
  position: relative;
  transition: display 2s ease-in;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .section-viewDocument {
      flex: 1;
      display: block; } }
  .section-viewDocument #document {
    position: relative;
    width: 100%; }
  .section-viewDocument .solved-task {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-viewDocument .solved-task i {
      color: #46C28E;
      font-size: 3rem; }
    .section-viewDocument .solved-task .btn {
      border-color: #f2f2f2;
      color: #f2f2f2; }
    @media (min-width: 992px) {
      .section-viewDocument .solved-task {
        display: none; } }
  .section-viewDocument .content {
    display: none;
    height: auto;
    padding: 32px 16px; }
    @media (min-width: 992px) {
      .section-viewDocument .content {
        display: block;
        padding: 0; } }

.section-task {
  position: relative;
  display: block;
  transition: display 2s ease-in;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: position .4s ease-in; }
  @media (min-width: 992px) {
    .section-task {
      display: block;
      flex: 1; } }
  .section-task .header {
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 16px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 992px) {
      .section-task .header {
        display: flex;
        justify-content: center;
        flex-direction: column; } }
    .section-task .header .line {
      border-bottom: 2px solid rgba(70, 194, 142, 0.6);
      width: 50%;
      height: 1px; }
    .section-task .header i {
      font-size: 3rem;
      margin: 0 15px;
      color: #46C28E; }
      @media (min-width: 992px) {
        .section-task .header i {
          font-size: 4rem; } }
  .section-task .content {
    display: none; }
    @media (min-width: 992px) {
      .section-task .content {
        display: block; } }
  .section-task .solved-task {
    display: block; }
    @media (min-width: 992px) {
      .section-task .solved-task {
        display: none; } }

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  cursor: pointer;
  visibility: hidden;
  font-size: .8rem;
  outline: none; }

.page-float {
  position: fixed;
  width: 100% !important;
  height: calc(100vh - 80px) !important;
  overflow: auto;
  top: 4px;
  left: 0;
  z-index: 99;
  background-color: #222222; }
  .page-float .solved-task {
    display: none; }
  .page-float .content {
    display: block; }
  .page-float .close {
    visibility: visible; }

.hide {
  display: none !important;
  transition: display .5s ease-out; }

#sidebar {
  position: relative;
  min-width: 300px;
  width: 100%;
  height: calc(60vh - 50px);
  overflow: auto;
  background-color: #222222;
  color: #f2f2f2; }
  #sidebar .section {
    background-color: #222222;
    display: block;
    width: 100%; }
    #sidebar .section .header {
      background-color: #363636;
      box-sizing: border-box;
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: row; }
      #sidebar .section .header .collapse-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 15px;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none; }
        #sidebar .section .header .collapse-section i {
          cursor: pointer; }
        #sidebar .section .header .collapse-section .fa-rotate-180 {
          transition: all .2s ease-in-out; }
    #sidebar .section .number {
      position: relative;
      background-color: #222222;
      display: inline-block;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      margin-right: 16px; }
      #sidebar .section .number:before {
        align-items: center;
        background-color: #222222;
        color: #F2F2F2;
        border-radius: 50%;
        content: attr(data-number);
        display: flex;
        font-size: 1rem;
        justify-content: center;
        position: absolute;
        left: .2rem;
        right: .2rem;
        top: .2rem;
        bottom: .2rem;
        transition: transform 0.2s ease; }
      #sidebar .section .number:after {
        background-color: #46C28E;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%; }
    #sidebar .section .description {
      display: block;
      color: #f2f2f2;
      font-weight: 500;
      font-size: 1.2rem;
      display: flex;
      flex: 1;
      flex-direction: column;
      text-transform: capitalize;
      word-wrap: break-word; }
    #sidebar .section .time {
      display: block; }
    #sidebar .section .content-sections {
      transition: height 2s ease-in;
      height: auto;
      max-height: auto; }
    #sidebar .section .hide-section {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1.5s ease-out; }
    #sidebar .section .content {
      background-color: #222222;
      box-sizing: border-box;
      padding: 16px;
      font-size: 1rem;
      color: rgba(242, 242, 242, 0.6);
      border-bottom: 1px solid rgba(116, 116, 116, 0.1);
      position: relative; }
      #sidebar .section .content i {
        font-size: 1.2rem;
        width: 1.2rem;
        margin-right: 10px;
        color: rgba(242, 242, 242, 0.5); }
      #sidebar .section .content-description {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex: 1;
        color: rgba(242, 242, 242, 0.6); }
        #sidebar .section .content-description a {
          text-decoration: none;
          color: rgba(242, 242, 242, 0.6); }
      #sidebar .section .content-time {
        width: 43px;
        margin-left: 8px;
        text-align: right; }
      #sidebar .section .content-resource {
        display: flex;
        justify-content: flex-end;
        position: relative; }
        #sidebar .section .content-resource .popup {
          opacity: 0;
          position: absolute;
          box-sizing: border-box;
          top: 120%;
          background: #262626;
          border: 1px solid #f2f2f2;
          height: auto;
          overflow: hidden;
          transition: all 500ms;
          width: 60%;
          z-index: 3; }
          #sidebar .section .content-resource .popup ul {
            list-style: none;
            padding: 0;
            margin: 0; }
            #sidebar .section .content-resource .popup ul li {
              font-size: 0.8rem;
              padding: 4px;
              display: flex;
              align-items: center; }
              #sidebar .section .content-resource .popup ul li i {
                font-size: 0.8rem;
                margin-right: 0px;
                color: #46C28E !important; }
              #sidebar .section .content-resource .popup ul li a {
                text-decoration: none;
                color: #f2f2f2 !important; }
              #sidebar .section .content-resource .popup ul li:hover {
                background-color: #363636; }
        #sidebar .section .content-resource .pupup-active {
          opacity: 1; }
      #sidebar .section .content:hover {
        background-color: #363636;
        color: #f2f2f2; }
        #sidebar .section .content:hover a {
          color: #f2f2f2; }
    #sidebar .section .active {
      position: relative;
      color: gold !important; }
      #sidebar .section .active i {
        color: #FFD700 !important; }
      #sidebar .section .active a {
        color: gold !important; }
      #sidebar .section .active::before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        background-color: #FFD700;
        top: 0;
        left: 0;
        height: 100%; }
    #sidebar .section .complete {
      color: #f2f2f2; }
      #sidebar .section .complete i {
        color: #46C28E; }
      #sidebar .section .complete a {
        color: #f2f2f2; }
  @media (min-width: 992px) {
    #sidebar {
      max-width: 400px;
      height: calc(100vh - 64px); } }

.drop-file {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .drop-file #fileInput {
    visibility: hidden; }
  .drop-file #fileLabel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px dashed rgba(242, 242, 242, 0.6);
    box-sizing: border-box;
    padding: 32px;
    cursor: pointer;
    transition: all .4s ease-in;
    z-index: 1; }
  .drop-file .file-hover {
    border: 2px dashed #46c28e !important;
    color: #46c28e !important; }
  .drop-file #btnUpload {
    flex: 1 auto;
    width: 150px; }
  .drop-file .card-file {
    border: 1px solid rgba(242, 242, 242, 0.6);
    color: rgba(242, 242, 242, 0.6);
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    z-index: 9; }
    .drop-file .card-file .name {
      flex: 1; }
    .drop-file .card-file .button {
      font-size: 1rem;
      color: rgba(70, 194, 142, 0.5);
      cursor: pointer;
      margin-left: 10px;
      padding: 3px; }

.btn {
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  border: 1px solid rgba(242, 242, 242, 0.6);
  color: rgba(242, 242, 242, 0.6);
  outline: transparent; }
  .btn:hover {
    border: 1px solid #f2f2f2;
    color: #f2f2f2; }

.btn-icon {
  border: 0;
  color: #46C28E;
  padding: 0; }
  .btn-icon:hover {
    color: #46c28e !important;
    border: 0; }

.btn-lg {
  width: 100%; }

.btn-sm {
  width: auto; }

.section .number[data-progress="0"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(90deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="1"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(93.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="2"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(97.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="3"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(100.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="4"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(104.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="5"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(108deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="6"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(111.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="7"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(115.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="8"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(118.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="9"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(122.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="10"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(126deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="11"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(129.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="12"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(133.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="13"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(136.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="14"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(140.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="15"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(144deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="16"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(147.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="17"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(151.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="18"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(154.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="19"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(158.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="20"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(162deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="21"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(165.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="22"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(169.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="23"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(172.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="24"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(176.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="25"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(180deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="26"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(183.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="27"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(187.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="28"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(190.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="29"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(194.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="30"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(198deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="31"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(201.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="32"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(205.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="33"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(208.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="34"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(212.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="35"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(216deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="36"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(219.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="37"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(223.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="38"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(226.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="39"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(230.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="40"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(234deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="41"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(237.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="42"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(241.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="43"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(244.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="44"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(248.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="45"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(252deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="46"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(255.6deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="47"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(259.2deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="48"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(262.8deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="49"]:after {
  background-image: linear-gradient(90deg, #222222 50%, transparent 50%, transparent), linear-gradient(266.4deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="50"]:after {
  background-image: linear-gradient(-90deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="51"]:after {
  background-image: linear-gradient(-86.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="52"]:after {
  background-image: linear-gradient(-82.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="53"]:after {
  background-image: linear-gradient(-79.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="54"]:after {
  background-image: linear-gradient(-75.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="55"]:after {
  background-image: linear-gradient(-72deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="56"]:after {
  background-image: linear-gradient(-68.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="57"]:after {
  background-image: linear-gradient(-64.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="58"]:after {
  background-image: linear-gradient(-61.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="59"]:after {
  background-image: linear-gradient(-57.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="60"]:after {
  background-image: linear-gradient(-54deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="61"]:after {
  background-image: linear-gradient(-50.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="62"]:after {
  background-image: linear-gradient(-46.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="63"]:after {
  background-image: linear-gradient(-43.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="64"]:after {
  background-image: linear-gradient(-39.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="65"]:after {
  background-image: linear-gradient(-36deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="66"]:after {
  background-image: linear-gradient(-32.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="67"]:after {
  background-image: linear-gradient(-28.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="68"]:after {
  background-image: linear-gradient(-25.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="69"]:after {
  background-image: linear-gradient(-21.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="70"]:after {
  background-image: linear-gradient(-18deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="71"]:after {
  background-image: linear-gradient(-14.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="72"]:after {
  background-image: linear-gradient(-10.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="73"]:after {
  background-image: linear-gradient(-7.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="74"]:after {
  background-image: linear-gradient(-3.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="75"]:after {
  background-image: linear-gradient(0deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="76"]:after {
  background-image: linear-gradient(3.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="77"]:after {
  background-image: linear-gradient(7.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="78"]:after {
  background-image: linear-gradient(10.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="79"]:after {
  background-image: linear-gradient(14.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="80"]:after {
  background-image: linear-gradient(18deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="81"]:after {
  background-image: linear-gradient(21.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="82"]:after {
  background-image: linear-gradient(25.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="83"]:after {
  background-image: linear-gradient(28.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="84"]:after {
  background-image: linear-gradient(32.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="85"]:after {
  background-image: linear-gradient(36deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="86"]:after {
  background-image: linear-gradient(39.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="87"]:after {
  background-image: linear-gradient(43.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="88"]:after {
  background-image: linear-gradient(46.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="89"]:after {
  background-image: linear-gradient(50.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="90"]:after {
  background-image: linear-gradient(54deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="91"]:after {
  background-image: linear-gradient(57.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="92"]:after {
  background-image: linear-gradient(61.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="93"]:after {
  background-image: linear-gradient(64.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="94"]:after {
  background-image: linear-gradient(68.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="95"]:after {
  background-image: linear-gradient(72deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="96"]:after {
  background-image: linear-gradient(75.6deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="97"]:after {
  background-image: linear-gradient(79.2deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="98"]:after {
  background-image: linear-gradient(82.8deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="99"]:after {
  background-image: linear-gradient(86.4deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.section .number[data-progress="100"]:after {
  background-image: linear-gradient(90deg, #46C28E 50%, transparent 50%, transparent), linear-gradient(270deg, #46C28E 50%, #222222 50%, #222222); }

.text-right {
  text-align: right; }

small {
  font-size: .8rem; }

.mt-0 {
  margin-top: 0px; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 15px; }

.mt-3 {
  margin-top: 20px; }

.mt-4 {
  margin-top: 25px; }

.mt-5 {
  margin-top: 30px; }

.mb-0 {
  margin-top: 0px; }

.mb-1 {
  margin-bottom: 10px; }

.mb-2 {
  margin-bottom: 15px; }

.mb-3 {
  margin-bottom: 20px; }

.mb-4 {
  margin-bottom: 25px; }

.mb-5 {
  margin-bottom: 30px; }

.d-flex {
  display: flex; }

.flex-direction-row {
  flex-direction: row; }

.justify-content-end {
  justify-content: flex-end; }

.align-items-center {
  align-items: center; }

/*# sourceMappingURL=styles.css.map */
